<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio Persona - {% block title %} {% endblock %}</title>
</head>
<body>
    <!----Cabecera    -->
    <h1>Mi Portafolio Personal</h1>
    <ul>
        <li><a href={% url 'home' %}>Inicio</a></li>
        <li><a href={% url 'about' %}>Acerca de </a></li></li>
        <li><a href={% url 'portfolio' %}>Portafolio</a></li></li>
        <li><a href={% url 'contact' %}>Contacto</a></li></li>
    </ul>
    <!----CONTENIDO TEMPLATE TAGS-->
    {% block content %} {% endblock %}
</body>
</html>